/*
red     #993333
            #cc6666
body    #333333
bg-color #9999cc, rgba(159, 168, 193, .5)
*/

@red:         #993333;
@red_hover:   #cc6666;
@body_color:  #333333;
@bg_color:    #9999cc;

@lt_blue: #6f7ca0;
@dk_blue: #112562;

@import "../../bootstrap/less/bootstrap.less";


@font-family-sans-serif:  Arial, sans-serif;
@font-family-serif:       Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-serif;

@icon-font-path:          "../../bootstrap/fonts/";

body {
  background: url(../images/bg.png) left top repeat;
  color: @body_color;
}

label {
  display: block;
}

.form-type-checkbox {
  input {
    margin-top: 0px;
  }
}

a {
  color: @red;
  text-decoration: none;
}

a:hover {
  color: @red_hover;
}

header, footer, #content, div.messages {
  width: 900px;
  margin: 0 auto;
}

header {
  background: transparent url(../images/masthead_bg.png) left top no-repeat;
  height: 160px;
  position: relative;
}

header #navigation {
  position: absolute;
  top: 75px;
  left: 535px;

  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #112562;

}

header #navigation li {
  /*border-right: 2px solid #112562;*/
  padding: 0;
}

header #navigation li.last {
  border: none;
}

header #navigation li a {
  color: #112562;
  text-transform: lowercase;
}

header #navigation li a:hover {
  /*text-decoration: underline;*/
  color: #9fa8c1;
}

#breadcrumb {
  width: 880px;
  margin: 0 auto;
  padding: 0 20px;
}

#content {
  padding: 30px 0px 45px;
  width: 900px;
}

  #message-box {
    padding: 15px;

    /*background-color: #9999cc;*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9999cc', endColorstr='#ffffff');
    background-image:    -moz-linear-gradient(270deg, rgba(159, 168, 193, .5) 0, rgba(159, 168, 193, 0) 75% );
    background-image: -webkit-linear-gradient(270deg, rgba(159, 168, 193, .5) 0, rgba(159, 168, 193, 0) 75% );
    background-image:      -o-linear-gradient(270deg, rgba(159, 168, 193, .5) 0, rgba(159, 168, 193, 0) 75% );

    text-align: center;
  }
    #message-box h1 {
      font-size: 1.5em;
      margin-bottom: .5em;
    }


#page-title {
  position: relative;
  font-weight: normal;
  font-size: 90px;
  color: #252525;
  text-align: right;
  padding-right: 20px;

  z-index: 10;
}

.tabs {
  height: 0px;
}

.tabs.primary {
  position: relative;
  top: -114px;

  z-index: 11;
}

.front .tabs {
  height: inherit;
}

.front .tabs.primary {
  position: relative;
  top: 0px;

  z-index: 11;
}

.region.region-content {
  position: relative;
  top: -40px;

  z-index: 8;
  padding: 40px 20px 20px 20px;
  min-height: 306px;
}

.page-contact .region.region-content,
.page-portfolio .region.region-content,
.page-node-1 .region.region-content,
.page-blog .region.region-content,
.node-type-blog .region.region-content,
#home-lower-content {
  background: transparent url(../images/full-width-fade.png) left top no-repeat;
}


body.front .region.region-content {
  left: 0px;
}



/*
Home Page
*/

.front .region.region-content {
  padding: 40px 0px 20px 0px;
}

#project-carousel {
	width: 900px;
  height:376px;

	box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
}

#home-lower-content {
  min-height: 368px;
  margin-top: 60px;

  #col1 {
    width: 28%;
    float: left;
    margin-left: 4%;

    min-height: 30px;

    img {
      float: left;
      box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
      -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
      -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);

      margin: 0 10px 10px 0;
    }
  }

  #col2 {
    width: 28%;
    float: left;
    margin-left: 4%;

    min-height: 30px;

    .blog-teaser-wrapper {
      border-bottom: 1px solid @lt_blue;
      padding-bottom: 30px;
      margin-top: 40px;

      img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
      }

      &:first-of-type {
        margin-top: 0px;
      }

      &:last-of-type {
        border-bottom: none;
      }

      .teaser-date {
        color: lighten(@body_color, 20%);
      }

      h3 {
        margin-top: 0;
        font-family: @font-family-sans-serif;
        font-weight: bold;

        a {
          color: darken(@dk_blue, 0%);
        }
      }
    }
  }

  #col3 {
    width: 28%;
    float: right;
    margin-right: 4%;

    min-height: 30px;

    .project-teaser-wrapper {

      border-bottom: 1px solid @lt_blue;
      /*padding-bottom: 30px;*/
      margin-top: 40px;

      &:first-of-type {
        /*margin-top: 0px;*/
      }

      &:last-of-type {
        border-bottom: none;
      }

      img {
        box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
        -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
        border: 1px solid @lt_blue;
      }

      h3 {
        margin-top: 10px;
        font-family: @font-family-sans-serif;
        font-weight: bold;

        a {
          color: darken(@dk_blue, 0%);
        }
      }
    }
  }

  h2 {
    color: @red;
    font-size: 24px;

    border-bottom: 3px solid @lt_blue;

    font-weight: bold;
  }
}






/*
Portfolio Page
*/
.view-portfolio .views-row {
  width: 100%;

  clear: both;
  margin-bottom: 30px;

  border-bottom: 1px solid #112562;
}

.view-portfolio .view-content {

}

.view-portfolio .field-content {

}

.project-description-wrapper {
  float: left;
  width: 45%;
  margin-left: 15px;
}

.project-thumbs-wrapper {
  float: right;
  width: 50%;
  padding-top: 10px;

  ul {
    list-style-type: none;

    li {
      float: left;
      margin: 0 0 24px 24px;
      width: 112px;
      height: 112px;

      img {
        box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
        -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);

        border: 1px solid rgba(0, 0, 0, .4);
      }
    }
  }
}

.view-portfolio .portfolio-title {
  font-size: 1.6em;
  color: #333333;
}

.view-portfolio .project-date {
  color: #999999;
  margin-top: 3px;
  font-size: .9em;
}

.view-portfolio .project-applications {
  margin-top: 5px;
  font-size: .9em;
}

.view-portfolio .project-tags {
  font-size: .9em;
  margin-top: 1px;
}

.view-portfolio .project-body {
  margin-top: 9px;
  color: #333333;
  font-size: 1.2em;

  p {
    line-height: 1.3em;
  }
}










/*
Services Page
*/
#node-1 .services-summary {
  font-size: 1.25em;
  color: #333333;
}

#node-1 .services-block {
  float: left;
  width: 19%;
  height: 155px;
  padding: 65px 1.6% 0;
  margin-top: 35px;
  text-align: center;
  background: rgba(100, 100, 100, .2) center 15px no-repeat;
  margin-left: 2.5%;

  border: 4px solid rgba(100, 100, 100, .3);

  -moz-border-radius: 5px;
  border-radius: 5px;

  line-height: 21px;
}

#node-1 .services-block h3 {
  font-variant: small-caps;
  font-size: 1.2em;
  margin-bottom: 6px;

  text-shadow: 1px 2px #ddd;
}

#node-1 .services-block ul {
  list-style-type: none;
}

#node-1 .services-block-strategy {
  background-image: url(../images/img2.png);
  margin-left: 0px;
}

#node-1 .services-block-design {
  background-image: url(../images/img4.png);
}

#node-1 .services-block-develop {
  background-image: url(../images/img1.png);
}

#node-1 .services-block-support {
  background-image: url(../images/img3.png);
}




/*
Blogs
*/


.page-blog {
  .region.region-content {
    padding-left: 160px;
    padding-right: 160px;

    .views-row {
      margin-bottom: 30px;
      border-bottom: 1px solid #112562;

      .submitted {
        display: none;
      }
    }
  }
}


.node-type-blog {
  h1#page-title {
    font-size: 45px;
  }

  .region.region-content {
    top: -20px;

    padding-left: 80px;
    padding-right: 240px;

    .submitted {
      margin-bottom: 20px;
      color: lighten(@body_color, 25%);
    }

    .field-name-field-tags {
      position: absolute;
      right: 0px;
      top: 40px;
      width: 200px;

    }

  }
}











footer {
  padding: 20px 15px 5px;
  width: 870px;
  background: transparent url(../images/footer_bg.png) left top no-repeat;
}
